<!DOCTYPE html>
<% const is = include('../../controllers/user.js'); %>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>patient</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs'); %>
    <div id="wrapper">
      <div class="content-area">
        <div class="container-fluid">
          <div class="main">
            <div class="row mt-4 justify-content-center align-items-center">
              <div class="col-12">
                <div class="box">
                  <h2 class="text-white">
                    Nom de patient : <%= patient.nom %> <%= patient.prenom %>
                  </h2>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-12 col-sm-12 col-12">
                <div class="box mt-4">
                  <div id="linechart"></div>
                </div>
              </div>

              <div class="box mt-4 col-md-12 col-sm-12 col-12">
                <div class="mt-4">
                  <div id="progress1"></div>
                </div>
                <div class="mt-4">
                  <div id="progress2"></div>
                </div>
                <div class="mt-4">
                  <div id="progress3"></div>
                </div>
                <div class="mt-4">
                  <div id="progress4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4">
        <div class="box mt-4">
          <form method="post" action="/addpatient">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="nom">Nom</label>
                  <input
                    type="nom"
                    class="form-control"
                    name="nom"
                    id="nom"
                    
                    value="<%= patient.nom %> "
                    placeholder="Entrer votre Nom"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="prenom">Prénom</label>
                  <input
                    type="prenom"
                    class="form-control"
                    name="prenom"
                    id="prenom"
                    value="<%= patient.prenom %> "
                    placeholder="Entrer votre prénom"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="naissance">lieu de naissance</label>
                  <input
                    type="text"
                    class="form-control"
                    name="adresse"
                    id="naissance"
                    value="<%= patient.adresse %> "
                    placeholder="Entrer votre date de naissance"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="telephone">telephone</label>
                  <input
                    type="text"
                    class="form-control"
                    name="tele"
                    id="telephone"
                    value="<%= patient.tele %> "
                    placeholder="Entrer votre numero de telephone"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="cin">CIN</label>
                  <input
                    type="text"
                    class="form-control"
                    name="CIN"
                    id="cin"
                    value="<%= patient.CIN %> "
                    placeholder="Entrer votre CIN"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="sexe">Sexe:</label>
                  <select class="form-control" name="sexe" id="sexe">
                    <option value="homme" <% if (patient.sexe == true) { %> check <% } %> >Homme</option>
                    <option value="femme" <% if (patient.sexe == false) { %> check <% } %>>Femme</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="datenaissance">Date de naissance:</label>
                  <input type="date" name="datenaissance" value="<%= patient.datenaissance.toLocaleDateString('en-GB').split('/').reverse().join('-') %>" id="datenaissance" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="sexe">status:</label>
                  <select class="form-control" name="status" id="sexe">
                    <option value="celibataire"<% if (patient.status== "celibataire") { %> check <% } %>>celibataire</option>
                    <option value="marie" <% if (patient.status == "marie") { %> check <% } %>>marie</option>
                    <option value="divorce" <% if (patient.status == "divorce") { %> check <% } %>>divorce</option>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group text-center">
                  <input
                    class="btn btn-success text-center"
                    type="submit"
                    value="valider"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- partial -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script>
      let userid = <%= patient.id %>
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="javascripts/index.js"></script>
  </body>
</html>
